doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/screen.css')
    link(rel='stylesheet', href='modules/dist/bower_components/jqueryui/themes/ui-lightness/jquery-ui.min.css')
    script.
        window.__user = !{JSON.stringify(user)}
  body
    block content
    script(src='modules/dist/require.min.js', data-main='modules/dist/app')